/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 768px;
    width: 100%;
    margin: 0px auto;
    padding: 24px;
}

@media screen and (max-width: 768px) {
    .container {
      padding: 0;
    }
  }

.banner {
    height: 343px;
    border-radius: 20px 20px 0 0;
    background-image: url("images/bacolod-ngc.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .banner {
      border-radius: 0;
    }
  }

.banner__title {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 36.8px;
    font-weight: 700;
    background-color: #1D3557;
    border-radius: 10px;
    padding: 3px 12px 5px;
    width: max-content;
    margin-bottom: 11px;
}

.banner__subtitle {
    color: #FFFFFF;
    background-color: #457B9D;
    border-radius: 10px;
    padding: 5px 29px 8px;
    width: max-content;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;  
}

.activities {
    color: #1D3557;
    background-color: #F1FAEE;
    padding: 38px 34px;
}

.activities__header {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-bottom: 54px;
}

.activities__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .activities__container {
      flex-direction: column;
      align-items: center;
    }
  }
.activities__column {
    max-width: 198px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .activities__column + .activities__column {
        margin-top: 24px;
    }
}

.activities__image {
    border-radius: 50%;
    height: 104px;
    width: 104px;
    margin-bottom: 22px;
}

.activities__title {
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;

}
.activities__description {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}


.guide {
    max-width: 768px;
    width: 100%;
    height: 394px;
    background: #FFFFFF;
    padding: 50px 20.83%;
    border-radius: 0 0 20px 20px;
}

@media screen and (max-width: 768px) {
    .guide {
        height: auto;
        border-radius: 0;
    }
}

.guide__card {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    height: 294px;
    background: #A8DADC;
    box-shadow: 0px 6px 0px #1D3557;
    border-radius: 10px;
    padding: 23px 13px;
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    .guide__card {
      flex-direction: column-reverse;
      height: auto;
    }
  }

.guide__text {
    margin-left: 5px;
    color: #1D3557;
}

.guide__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-bottom: 14px;
}

.guide__description {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 26px;
}

.guide__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.guide__image {
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .guide__image {
      margin: 0 auto 14px;
    }
  }